<div class="container text-center">
<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 400, width: 250, crop: :fill %>
<h3>Doses:</h3>
<hr>
<% @cocktail.doses.each do |dose| %>
  <h4><%= dose.description %> : <%= dose.ingredient.name %></h4>
  <h4>
  <%= link_to "Delete dose", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this dose?" }, class: 'btn-xs btn-sm-delete', id: 'sweet-alert-warning-dose' %>
      </h4>
      <hr>
<% end %>

    <div class="col-md-2 col-md-offset-5">
      <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-orange' %>
      <%= link_to "Delete cocktail", cocktail_path,
        method: :delete,
        data: { confirm: "Are you sure you want to delete this cocktail?" }, class: 'btn btn-delete', id: 'sweet-alert-warning-cocktail' %>
    </div>

</div>

